{{> navbar user=user}}
<div class="container">
  {{#each games}}
    <div class="card game-flex">
      <!-- LEFT  ICON -->
      <div class="g-icon">{{catIcon category_id}}</div>

      <!-- MIDDLE  INFO -->
      <div class="g-info">
        <h3>{{title}}</h3>
        <p class="desc">{{description}}</p>
        <div class="meta">
          {{questionCount}} questions&nbsp;&nbsp; {{playCount}} plays
        </div>
      </div>

      <!-- RIGHT  ACTIONS -->
      <div class="g-actions">
        <a href="/play/{{gameid}}" target="_blank"><button class="primary">Play</button></a>

        {{#if ../user}}
          {{#if (eq ../user.userid author_id)}}
            <a href="/game/edit/{{gameid}}"><button>Edit</button></a>
            <form method="post" action="/game/delete/{{gameid}}" style="display:inline">
              <button class="danger" onclick="return confirm('Delete this game?')">Delete</button>
            </form>
          {{/if}}
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
